body{
	font-family: "Sans-serif";
}
h1{
	font-size: 40;
	text-align: center;
}
h2{
	font-size: 20;
	text-align: center;
}
p{
	font-size: 15;
	text-align: center;
}
#dataPicker {
	margin: auto;
	padding: 0px;
	margin: auto;
	text-align: center;
	float: left;
}
td {
    text-align: center;
}
#loading{
	color: #999;
	font-size: 40;
}
.res-table{
	width: 100%;
	overflow: auto;
	max-height: 50%;
}