.gLevel{
	width: 250;
	height: 55;
	x: 50;
	stroke-width: 0;
}
.gTube{
	stroke-width: 10;
	
}
.gLevelText{
	font-size: 32;
	fill: white;
	font-family: Monospace;
}
.closeTube {
	stroke: black!important;
}