<div class="col-ms-12" ng-if="data" ng-controller="simulationCtrl">
    <div class="panel panel-default" id="simulationPanel">
        <div class="panel-heading clearfix">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" ng-model="showSimulation" ng-init="showSimulation = true" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Rappresentazione</button>
            </div>
            <h3 class="panel-title"><strong>Simulazione</strong></h3>
        </div>
        <div class="panel-body" ng-if="showSimulation">
            <rappresentation instant-values="data[step]"></rappresentation>
            <h2>Ora: {{data[step].time}}</h2>
            <h2 id="simulationTime">
		</div>
		<ul class="list-group" ng-if="showSimulation">
		  	<li class="list-group-item">
		        <ul class="list-inline">
			    	<li>Simulazione:</li>
			    		<div class="btn-group">
				    		<button class="btn btn-default" ng-click="play()">&#9658</button>
				    		<button class="btn btn-default" ng-click="pause()"> &#9646&#9646</button>
				    		<button class="btn btn-default" ng-click="stop()">&#9724</button>
				    	</div>
			        <li><input class="bar" style="width: 500px;" type="range" min="0" max="{{steps - 1}}" ng-model="step" ng-init="step = 0"/></li>
			    </ul>
            </li>
		</ul>
	</div>		        
</div>