<style>
	.control-box {
		margin: 5px;
	}
</style>

<div class="col-ms-12" ng-if="data.steps > 0">
    <div class="panel panel-default" id="simulationPanel">
        <div class="panel-heading clearfix">
            <div class="btn-group pull-right">
                
                <!-- Toggle to show/hide representation -->
                <button type="button" class="btn btn-primary" ng-model="showSimulation" ng-init="showSimulation = true" uib-btn-checkbox>Rappresentazione</button>
            </div>

            <!-- Title of the 'card' -->
            <h3 class="panel-title"><strong>Simulazione</strong></h3>
        </div>

        <!-- Representation content -->
        <div class="panel-body" ng-if="showSimulation">
            
        	<!-- Animated SVG -->
            <representation instant-values="data.values[step]"></representation>

            <!-- Current time -->
            <h2 style="text-align: center;">Ora: {{data.values[step].time}}</h2>
		</div>

		<!-- Simulation controls -->
		<ul class="list-group" ng-if="showSimulation">
		  	<li class="list-group-item">
		        <ul class="list-inline">
			    	<li class="control-box">
			    		<h5>Comandi</h5>

			    		<!-- Buttons -->
			    		<div class="btn-group">
				    		
			    			<!-- Play -->
				    		<button class="btn btn-default" ng-click="play()" ng-disabled="isRunning">
				    			<i class="glyphicon glyphicon-play" aria-hidden="true"></i>
				    		</button>

				    		<!-- Pause -->
				    		<button class="btn btn-default" ng-click="pause()" ng-disabled="!isRunning">
				    			<i class="glyphicon glyphicon-stop" aria-hidden="true"></i>
				    		</button>

				    		<!-- Stop -->
				    		<button class="btn btn-default" ng-click="stop()" ng-disabled="!isRunning">
				    			<i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
				    		</button>
				    	</div>
				    </li>
			        <li class="control-box" style="width: 50%;">
			        	<h5>Indicatore riproduzione</h5>
			        	<slider ng-model="step" min="0" max="data.steps - 1" ng-change="skipTo(step)"></slider>
			        </li>
			        <li class="control-box" style="width: 20%;">
			        	<h5>Velocità ({{2000 / preferences.speed| number:0}}ms)</h5>
			        	<slider ng-model="preferences.speed" min="1" max="10" ng-change="setSpeed(preferences.speed)"></slider>
			        </li>
			    </ul>
            </li>
		</ul>
	</div>		        
</div>